[submodule "lib/openthread"]
	path = lib/openthread
	url = https://github.com/openthread/openthread.git
[submodule "lib/ntpclient"]
	path = lib/ntpclient
	url = https://github.com/vrtsystems/ntpclient.git
